<div class='navbar navbar-fixed-top'>
	<div class='navbar-inner'>
		<div class='container'>
			<a class='brand' href="<%= dashboard_index_path %>">Mission Creek:Admin</a>
			<ul class='nav'>
				<li class="<%=@post_active%>"><%= link_to "Posts", posts_dashboard_index_path %></li>
				<li class="<%=@venue_active%>"><%= link_to "Venues", venues_dashboard_index_path %></li>
				<li class="<%=@events_active%>"><%= link_to "Events", events_dashboard_index_path %></li>
				<li class="<%=@simple_events_active%>"><%= link_to "Lit/Food", simple_events_dashboard_index_path %></li>
				<li class="<%=@artist_active%>"><%= link_to "Artists", artists_dashboard_index_path %></li>
				<li class="<%=@page_active%>"><%= link_to "Pages", pages_dashboard_index_path %></li>
			</ul>
			<ul class='nav pull-right'>
				<li class='navbar-text'>Logged in as <%= current_user.login %></li> 
				<li><%=link_to "Log out", destroy_user_session_path, :method => :delete%></li>
			</ul>
		</div>
	</div>
</div>