<div class='navbar navbar-inverse navbar-fixed-top' role='navigation'>
  <div class='container'>
    <div class='navbar-header'>
      <a  href="<%= dashboard_index_path %>">Mission Creek:Admin</a>
    </div>
    <div class='collapse navbar-collapse'>
      <ul class='nav'>
        <li class="<%=@venue_active%>"><%= link_to "Venues", venues_dashboard_index_path %></li>
        <li class="<%=@events_active%>"><%= link_to "Events", events_dashboard_index_path %></li>
        <li class="<%=@artist_active%>"><%= link_to "Artists", artists_dashboard_index_path %></li>
      </ul>
      <ul class='nav pull-right'>
        <li class='navbar-text'>Logged in as <%= current_user.login %></li> 
        <li><%=link_to "Log out", destroy_user_session_path, :method => :delete%></li>
      </ul>
    </div>
  </div>
</div>
