%h1 Listing events

%table.table.table-bordered.table-striped
  %tr
    %th Title
    %th Date
    %th Start time
    %th Adv Price
    %th Door Price
    %th Ticket url
    %th Description
    %th Actions

  - @events.each do |event|
    %tr
      %td= event.title
      %td= event.date.strftime("%A")
      %td= event.start_time.strftime("%I:%M %P")
      %td= raw url_present(event.price_advance)
      %td= raw url_present(event.price_dayof)
      %td= raw url_present(event.ticket_url)
      %td= raw url_present(event.description)
      %td
        = link_to 'Show', event
        = link_to 'Edit', edit_event_path(event)
        = link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Event', new_event_path, :class=>"btn btn-primary"
