%h1 Listing events
= link_to 'New Event', new_event_path, {:class=>"btn btn-primary", :style=>"margin-bottom:10px"}

%table.table.table-bordered.table-striped
  %tr
    %th Title
    %th Headliners
    %th Date
    %th Category
    %th Visible
    %th Actions

  - @events.each do |event|
    - if event.visible
      - glyph, color = "ok", "green"
    - else
      - glyph, color = "remove", "red"
    %tr
      %td= event.title
      %td= event.headliners.map(&:name).join(", ")
      %td= event.date.strftime("%A")
      %td= (event.category != [])? event.category.first.name : ""
      %td
        %span.glyphicon{:class=>"glyphicon-#{glyph}", :style=>"color:#{color}"}
      %td
        = link_to 'Show', event
        = link_to 'Edit', edit_event_path(event)
        = link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }


