%h1 Listing events

%table
  %tr
    %th Date
    %th Door time
    %th Start time
    %th Free
    %th Soldout
    %th Price advance
    %th Price dayof
    %th Ticket url
    %th Title
    %th Description
    %th
    %th
    %th

  - @events.each do |event|
    %tr
      %td= event.date
      %td= event.door_time
      %td= event.start_time
      %td= event.free
      %td= event.soldout
      %td= event.price_advance
      %td= event.price_dayof
      %td= event.ticket_url
      %td= event.title
      %td= event.description
      %td= link_to 'Show', event
      %td= link_to 'Edit', edit_event_path(event)
      %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Event', new_event_path