%h1 Listing Lit/Food Events
%table
  %tr
    %th Title
    %th Date
    %th Start
    %th Type
    %th Venue
    %th
    %th
    %th

  - @simple_events.each do |simple_event|
    %tr
      %td= simple_event.title
      %td= simple_event.date.strftime("%A")
      %td= simple_event.start.strftime("%I:%M %P")
      %td= simple_event.category
      %td= simple_event.venue.name
      %td= link_to 'Show', simple_event
      %td= link_to 'Edit', edit_simple_event_path(simple_event)
      %td= link_to 'Destroy', simple_event, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Lit/Food event', new_simple_event_path