<%- model_class = Venue -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%- if flash[:notice] -%>
  <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= flash[:notice] %>
  </div>
<%- end -%>

<table class="table table-border table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:url) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody class='venue-list'>
    <%= render 'venue_list' %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_venue_path, remote:true,
            :class => 'btn btn-primary' %>
<div id='venue-modal' class='modal fade'></div>


