- days = [["Monday 04/01",Date.parse("01/04/2013")],["Tuesday 04/02",Date.parse("02/04/2013")],["Wednesday 04/03",Date.parse("03/04/2013")],["Thursday 04/04",Date.parse("04/04/2013")],["Friday 04/05",Date.parse("05/04/2013")],["Saturday 04/06",Date.parse("06/04/2013")],["Sunday 04/07",Date.parse("07/04/2013")]]
= form_for @simple_event do |f|
  - if @simple_event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@simple_event.errors.count, "error")} prohibited this simple_event from being saved:"
      %ul
        - @simple_event.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title, {:style => "width:450px"}
  .field
    = f.label Venue
    = f.collection_select :venue_id, Venue.all, :id, :name
  .field
    = f.label :date
    = f.select :date, options_for_select(days, @simple_event.date.to_s)
  .field
    = f.label :start
    = f.time_select :start, :value => :start, :default => Time.parse("19:00"), :ampm => true
  .field
    = f.label :free
    = f.check_box :free
  .field
    = f.label :soldout
    = f.check_box :soldout
  .field
    = f.label :description
    = f.text_area :description, {:cols => 80, :rows => 10, :style => "width:auto"}
  .field
    = f.label :category
    = f.select :category, options_for_select(["Lit", "Food", "Lit Crawl"])
  .field
    = f.label :image
    = f.text_field :image
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :ticket_url
    = f.text_field :ticket_url

  .actions
    = f.submit 'Save'
