%h1 Listing simple_events

%table
  %tr
    %th Title
    %th Date
    %th Start
    %th Free
    %th Soldout
    %th Description
    %th Category
    %th Image
    %th Price
    %th Ticket url
    %th Venue
    %th
    %th
    %th

  - @simple_events.each do |simple_event|
    %tr
      %td= simple_event.title
      %td= simple_event.date
      %td= simple_event.start
      %td= simple_event.free
      %td= simple_event.soldout
      %td= simple_event.description
      %td= simple_event.category
      %td= simple_event.image
      %td= simple_event.price
      %td= simple_event.ticket_url
      %td= simple_event.venue_id
      %td= link_to 'Show', simple_event
      %td= link_to 'Edit', edit_simple_event_path(simple_event)
      %td= link_to 'Destroy', simple_event, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Simple event', new_simple_event_path
