.col-md-6.col-sm-9
  = form_for @artist, :html => {:class => 'form-horizontal', :multipart => true } do |f|
    - if @artist.errors.any?
      #error_explanation
        %h4= "#{pluralize(@artist.errors.count, "error")} prohibited this event from being saved:"
        - @artist.errors.full_messages.each do |msg|
          .alert.alert-danger= msg
    .field.form-group
      = f.label :name
      = f.text_field :name, :class=>"form-control"
    .field.form-group
      = f.label :bio
      = f.cktext_area :bio,:id=>'artist_bio',:ckeditor => {:toolbar=>"Custom"}
    .field.form-group
      = f.label :youtube_url
      = f.text_field :youtube_url, :as => :url, :class=>"form-control"
      .alert.alert-warning{:style=>"margin-top:3px"} Copy the URL as it appears in your address bar.  Don't copy the embed code.
    .field.form-group
      = f.label :spotify_uri
      = f.text_field :spotify_url, :class=>"form-control"
      .alert.alert-warning{:style=>"margin-top:3px"}
        %span A Spotify URI should look like this: 
        %span{:style=>"font-weight:bold"}spotify:album:1iw1gr9TPYhIwmgoLPcRRG
    .field.form-group
      = f.label :facebook_url
      = f.text_field :facebook_url, :as => :url, :class=>"form-control"
    .field.form-group
      = f.label :twitter_url
      = f.text_field :twitter_url, :as => :url, :class=>"form-control"
    .field.form-group
      = f.label :official_url
      = f.text_field :official_url, :as => :url, :class=>"form-control"
    .row
      .col-md-6.field.form-group
        = f.label :category
        = f.select :category,  ["music", "literature","film","food","misc","tech"], :class=>"form-control"
      .col-md-6.field.form-group
        = f.label :visible
        = f.check_box :visible
    .field.form-group
      = f.label :image
      = f.file_field :image, :class=>"form-control"
    .field.form-group
      = f.submit 'Save', :class=>"btn btn-primary"
  .current-images
    %h3 Current Image For This Artist:
    - if @artist.image.url
      %img{:src=> @artist.image.medium.url}
      = link_to "Re-Crop Original",crop_artist_path(@artist), :class=>'btn btn-primary'
