<%= simple_form_for @artist, :html => {:class => 'form-horizontal', :multipart => true } do |f| %>
  <%= f.input :name %>
  <%= f.input :bio, :as => :text, :input_html => { :rows => 9, :class => 'input-xlarge' }  %>
  <%= f.input :official_url, :as => :url%>
  <%= f.input :youtube_url, :as => :url%>
  <%= f.input :soundcloud_url, :as => :url%>
  <%= f.input :tier , :collection => 1..3 %>
  <%= f.input :image, :as => :file %>

  <%= f.button :submit %>
<% end %>
<div class='current-images'>
  <h3>Current Images For This Artist:</h3>
  <% if @artist.image.url %>
  <%= image_tag @artist.image.url  %>
  <%= image_tag @artist.image.carousel.url %>
  <%= image_tag @artist.image.thumb.url %>
  <% end %>
</div>