/About / Lineup / Literature / Food / Artists-in-Residence / Schedule
%ul.nav
  %li
    %a{:href=>"#{page_path(Page.first)}"} About
  %li
    %i.icon-stop.nav
  %li	
    %a{:href=>"#{page_path(Page.first)}"} Lineup
  %li
    %i.icon-stop.nav
  %li
    %a{:href=>"#{page_path(Page.first)}"} Literature
  %li
    %i.icon-stop.nav
  %li
    %a{:href=>"#{page_path(Page.first)}"} Food
  %li
    %i.icon-stop.nav
  %li
    %a{:href=>"#{page_path(Page.first)}"} Artists-in-Residence
  %li
    %i.icon-stop.nav
  %li	
    %a{:href=>"#{page_path(Page.first)}"} Schedule