<div class='hidden-phone'>
	<div class="row top">
		<%= render :partial => 'posts', :posts => @posts %>
		<%= render :partial => 'artists' %>
		<%= render :partial => 'tickets' %>
	</div>
	<div class='row'>
		<%= render :partial => 'twitter' %>
		<%= render :partial => 'features' %>

		<%= render :partial => 'sponsors' %>
	</div>
</div>
<div class='hidden-tablet hidden-desktop'>
</div>

<script type='text/javascript'>

</script>
