<div class=' hidden-tablet'>
	<div class="row">
		<div class="span8">
			<h2><%= link_to raw("ARTISTS&raquo;"), artists_path%></h2>
		</div>
		<div class="span4">
			<h2>TICKET INFO&raquo;</h2>
		</div>
	</div>
	<div class="row top">
		<%= render :partial => 'artists' %>
		<%= render :partial => 'tickets' %>
	</div>
	<div class='row'>
		<% #render :partial => 'twitter' %>
		<%= render :partial => 'features' %>

	</div>
	<div class='row'>
		<%= render :partial => 'sponsors' %>
	</div>
</div>
<div class='hidden-tablet hidden-desktop'>
</div>

<script type='text/javascript'>

</script>
