<div class=''>
	<div class="row-fluid">
		<div class="span8">
			<h2><%= link_to raw("ARTISTS&raquo;"), artists_path%></h2>
			<%= render :partial => 'artists' %>
		</div>
	</div>
	<div class="row-fluid top">
		
		<%= render :partial => 'tickets' %>
	</div>
	<div class='row'>
		<% #render :partial => 'twitter' %>
		<%= render :partial => 'features' %>

	</div>
	<div class='row'>
		<%= render :partial => 'sponsors' %>
	</div>
</div>
<div class='hidden-tablet hidden-desktop'>
</div>

<script type='text/javascript'>

</script>
