.col-xs-12.event{:class=>event.category.first.name,:id=>"event_#{event.id}"}
  - name = (event.show_title) ? event.title : event.headliners.map(&:name).join(" & ")
  .row
    .col-xs-4.name
      %span.glyphicon.glyphicon-plus-sign
      %span.headliner=name 
    .col-xs-4.time 
      - door_time = event.door_time.strftime("%l %P") 
      - start_time = event.start_time.strftime("%l %P") 
      .location="#{event.venue.name} / #{door_time} doors / #{start_time} start "
    .col-xs-4.tickets
      %a.nfs{:href=>"#", :target=>"_new", :title=>"Individual tickets on sale January 31st",:data=>{:toggle=>"tooltip"}}Buy Tickets
      %span.glyphicon.glyphicon-circle-arrow-right
  .row.details{:style=>"display:none", :class=>"event_#{event.id}"}
    .col-xs-4
      %img{:src=>event.headliners.first.image.small,:style=>"width:240px"}
    .col-xs-8
      - summary = (event.description == "")? event.headliners.first.bio : event.description
      - support = (event.support == [])? "" : "w/ " + event.support.map(&:name).join(", ")
      .spacer
      .support=support
      .summary=summary
