.col-xs-12.event{:class=>event.category.first.name,:id=>"event_#{event.id}"}
  - name = (event.show_title) ? event.title : event.headliners.map(&:name).join(" & ")
  .row
    .col-xs-4.name
      %span.glyphicon.glyphicon-plus-sign
      %span.headliner=name 
    .col-xs-5.time 
      - door_time = event.format_door_time
      - start_time = event.format_start_time
      .location="#{event.venue.name} / #{door_time} "
    .col-xs-3.tickets
      - mwt_landing = "http://www.midwestix.com/organizations/mission-creek-festival"
      - ticket_url = (event.ticket_url.nil? || event.ticket_url == "")? mwt_landing : event.ticket_url
      %a{:href=>ticket_url, :target=>"_new"}Buy Tickets
      %span.glyphicon.glyphicon-circle-arrow-right
  .row.details{:style=>"display:none", :class=>"event_#{event.id}"}
    .col-xs-4
      %img{:src=>event.headliners.first.image.small,:style=>"width:240px"}
      %h4 Read more about:
      %ul
        - all_artists = event.headliners + event.support
        - all_artists.each do |artist|
          %li= link_to(artist.name, artist_path(artist))
    .col-xs-8
      - summary = (event.description == "")? event.headliners.first.bio : event.description
      - support = (event.support == [])? "" : "w/ " + event.support.map(&:name).join(", ")
      .spacer
      .support=support
      - unless event.price_advance.nil? && event.price_dayof.nil?
        - prices = [event.price_advance, event.price_dayof].uniq.map{|e| "$#{e}"}
        .prices="#{prices.join(" - ")}"
      .times="#{event.format_door_time} doors/ #{event.format_start_time} start"
      .summary=summary.html_safe
