- days = [["Monday 03/31",Date.parse("31/03/2014")],["Tuesday 04/01",Date.parse("01/04/2014")],["Wednesday 04/02",Date.parse("02/04/2014")],["Thursday 04/03",Date.parse("03/04/2014")],["Friday 04/04",Date.parse("04/04/2014")],["Saturday 04/05",Date.parse("05/04/2014")],["Sunday 04/06",Date.parse("06/04/2014")]]

= form_for @event do |f|
  .col-md-6.col-sm-9
    - if @event.errors.any?
      #error_explanation
        %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
        %ul
          - @event.errors.full_messages.each do |msg|
            %li= msg
    .row
      .field.col-md-6.form-group.dashboard-lookup
        = f.label :headliners
        %input.typeahead.headliners.form-control.event
        .headliners-list
          - if @headliners
            - @headliners.each_with_index do |artist, index|
              .well.well-sm.artist-added
                %button.close{:type=>"button",:data=>{:dismiss=>"alert"}, :aria => {:hidden=>'true'}}×
                %input{:type => 'hidden', :name => "headliners[#{artist.id}]", :id => "headliners_#{artist.id}", :value=>index}
                = artist.name
      .field.col-md-6.form-group.dashboard-lookup
        = f.label :support
        %input.typeahead.support.form-control.event
        .support-list
          - if @support
            - @support.each_with_index do |artist, index|
              .well.well-sm.artist-added
                %button.close{:type=>"button",:data=>{:dismiss=>"alert"}, :aria => {:hidden=>'true'}}×
                %input{:type => 'hidden', :name => "support[#{artist.id}]", :id => "support_#{artist.id}", :value=>index}
                = artist.name
    .field.form-group
      = f.label :title
      = f.text_field :title, :class=>"form-control"
    .row
      .field.col-md-6.col-sm-6.form-group
        = f.label Venue
        = f.collection_select :venue_id, Venue.all, :id, :name, {}, {:class=>"form-control venue-select"}
    .row
      .field.form-group.col-md-3.col-sm-6
        = f.label "Price(low)"
        = f.number_field :price_advance, :class=>"form-control"
      .field.form-group.col-md-3.col-sm-6
        = f.label "Price(high)"
        = f.number_field :price_dayof, :class=>"form-control"
    .row
      .alert.alert-warning{:style=>"margin-top:3px"}If there is just one price, put it in both fields.
    .row
      .field.col-md-4.col-sm-6.form-group
        = f.label :date
        = f.select :date, options_for_select(days, @event.date.to_s),{}, {:class=>"form-control"}
      .field.col-md-3.col-sm-6.form-group
        = f.label :door_time
        = f.time_select :door_time,
          {:value => :start_time,
          :combined=>true, 
          :minute_interval=>30,
          :start_hour => 9,
          :start_minute => 0,
          :end_hour => 22,
          :end_minute => 0,
          :default => Time.parse("20:00"),
          :ampm => true},
          {:class=> 'form-control'}
      .field.col-md-3.col-sm-6.form-group
        = f.label :start_time
        = f.time_select :start_time,
          {:value => :start_time, 
          :combined=>true, 
          :minute_interval=>30,
          :start_hour => 9,
          :start_minute => 0,
          :end_hour => 22,
          :end_minute => 0,
          :default => Time.parse("21:00"), :ampm => true},
          {:class=>'form-control'}
    .row
      .field.form-group.col-md-4.col-sm-4
        = f.label :free
        = f.check_box :free, :class=>"form-control"
      .field.form-group.col-md-4.col-sm-4
        = f.label :soldout
        = f.check_box :soldout, :class=>"form-control"
      .field.form-group.col-md-4.col-sm-4
        = f.label "Display with Title"
        = f.check_box :show_title, :class=>"form-control"
    .row
      .col-md-6.field.form-group
        = f.label :category
        = f.select :category,  ["music", "literature","film","food","misc"], :class=>"form-control"
      .col-md-6.field.form-group
        = f.label :visible
        = f.check_box :visible
    .field.form-group
      = f.label :description
      = f.cktext_area :description,:id=>'event_description',:ckeditor => {:toolbar=>"Custom"}
    .actions
      = f.submit 'Save', :class=>"btn btn-primary"
.space{:style=>"display:block; height:50px;"}
