- days = [["Monday 04/01",Date.parse("01/04/2013")],["Tuesday 04/02",Date.parse("02/04/2013")],["Wednesday 04/03",Date.parse("03/04/2013")],["Thursday 04/04",Date.parse("04/04/2013")],["Friday 04/05",Date.parse("05/04/2013")],["Saturday 04/06",Date.parse("06/04/2013")],["Sunday 04/07",Date.parse("07/04/2013")]]
- dates = [Date.parse("02/04/2013"),Date.parse("03/04/2013")]

= form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg
  .field.form-group
    = f.label :title
    = f.text_field :title, :class=>"form-control"
  .field.form-group
    = f.label "Display with Title (otherwise displays with selected headliners)"
    = f.check_box :show_title, :class=>"form-control"
  .field.form-group
    = f.label Venue
    = f.collection_select :venue_id, Venue.all, :id, :name, {}, {:class=>"form-control"}
  .field.form-group
    = f.label :date
    = f.select :date, options_for_select(days, @event.date.to_s),{}, {:class=>"form-control"}
  .field.form-group
    = f.label :door_time
    = f.time_select :door_time,
      {:value => :start_time,
      :combined=>true, 
      :minute_interval=>30,
      :start_hour => 9,
      :start_minute => 0,
      :end_hour => 22,
      :end_minute => 0,
      :default => Time.parse("20:00"),
      :ampm => true},
      {:class=> 'form-control'}
  .field.form-group
    = f.label :start_time
    = f.time_select :start_time,
      {:value => :start_time, 
      :combined=>true, 
      :minute_interval=>30,
      :start_hour => 9,
      :start_minute => 0,
      :end_hour => 22,
      :end_minute => 0,
      :default => Time.parse("21:00"), :ampm => true},
      {:class=>'form-control'}
  .field.form-group
    = f.label :free
    = f.check_box :free, :class=>"form-control"
  .field.form-group
    = f.label :soldout
    = f.check_box :soldout, :class=>"form-control"
  .field.form-group
    = f.label "Advance Price"
    = f.number_field :price_advance, :class=>"form-control"
  .field.form-group
    = f.label "Day of Ticket Price"
    = f.number_field :price_dayof, :class=>"form-control"
  .field.form-group
    = f.label :ticket_url
    = f.text_field :ticket_url, :class=>"form-control"
  .field.form-group
    = f.label :description
    = f.text_area :description, :class=>"form-control"
  .actions
    = f.submit 'Save'
