%h2 Monday, April 1
- @events["monday"].each do |event|
	.span12.event
		- name = (event.show_title) ? event.title : event.headliners.map(&:name).join(" & ")
		.name_venue
			.name= name
			@
			.venue= event.venue.name
%h2 Tuesday, April 2
- @events["tuesday"].each do |event|
	.span12.event
		= render "event_macro", :event => event
		/ - name = (event.show_title) ? event.title : event.headliners.map(&:name).join(" & ")
		/ .name_venue="<span class='name'>#{name}</span> @ <span class='venue'>#{event.venue.name}</span>" 
			
%h2 Wednesday, April 3
%h2 Thursday, April 4
%h2 Friday, April 5
%h2 Saturday, April 6
%h2 Sunday, April 7
