#calendar_page{:style=>"display:none"}
.row.title.col-xs-12
  %h1.sub 2014 Schedule
  %ul
    %li.music 
      %span.circle
      %span.text Music
    %li.literature 
      %span.circle
      %span.text Literature
    %li.food
      %span.circle
      %span.text Food
    %li.film 
      %span.circle
      %span.text Film
    %li.misc
      %span.circle
      %span.text Misc
.row.col-xs-4.col-xs-offset-4.filters
  .btn-group
    %button.btn.btn-default.dropdown-toggle{:type=>"button",:data=>{:toggle=>"dropdown"}}
      ="Select a Day"
      %span.caret
    %ul.dropdown-menu{:role=>"menu"}
      %li
        %a{:href=>"#", :onclick=>"filterByDay('monday')"}Monday
      %li
        %a{:href=>"#", :onclick=>"filterByDay('tuesday')"}Tuesday
  .btn-group
    %button.btn.btn-default.dropdown-toggle{:type=>"button",:data=>{:toggle=>"dropdown"}}
      ="Select a Category"
      %span.caret
    %ul.dropdown-menu{:role=>"menu"}
      %li
        %a{:href=>"#", :onclick=>"filterByCategory('music')"}Music
      %li
        %a{:href=>"#", :onclick=>"filterByCategory('literature')"}Literature
      %li
        %a{:href=>"#", :onclick=>"filterByCategory('food')"}Food
      %li
        %a{:href=>"#", :onclick=>"filterByCategory('film')"}Film
      %li
        %a{:href=>"#", :onclick=>"filterByCategory('misc')"}Misc
      %li.divider
      %li
        %a{:href=>"#", :onclick=>"$('.event').show()"}Show All


.row.schedule.col-xs-12
  .row.col-xs-12
    %h2 Monday, March 31
    .events.monday
      - unless @events["monday"] == nil
        -@events["monday"].each do |event|
          = render "event_macro", :event => event
  .row.col-xs-12
    %h2 Tuesday, April 1
    .events.tuesday
      - unless @events["tuesday"] == nil
        - @events["tuesday"].each do |event|
          = render "event_macro", :event => event
  .row.col-xs-12
    %h2 Wednesday, April 2
    .events.wednesday
      - unless @events["wednesday"] == nil
        - @events["wednesday"].each do |event|
          = render "event_macro", :event => event
  .row.col-xs-12
    %h2 Thursday, April 3
    .events.thursday
      - unless @events["thursday"] == nil
        -@events["thursday"].each do |event|
          = render "event_macro", :event => event
  .row.col-xs-12
    %h2 Friday, April 4
    .events.friday
      - unless @events["friday"] == nil
        - @events["friday"].each do |event|
          = render "event_macro", :event => event
  .row.col-xs-12
    %h2 Saturday, April 5
    .events.saturday
      - unless @events["friday"] == nil
        - @events["saturday"].each do |event|
          = render "event_macro", :event => event
  .row.col-xs-12
    %h2 Sunday, April 6
    .events.sunday
      - unless @events["saturday"] == nil
        - @events["sunday"].each do |event|
          = render "event_macro", :event => event
