- name = (@event.show_title) ? @event.title : @event.headliners.map(&:name).join(" & ")
.event-detail
  %h1="#{name} @ #{@event.venue.name}"
  - unless @event.support.empty?
    %h2.support="w/ #{@event.support.map(&:name).join(', ')}"
  .date=@event.format_date
  .time="Doors at #{@event.format_door_time}, Show at #{@event.format_start_time}"
  -if !(@event.soldout || @event.free)
    .cost="$#{@event.price_advance} Adv/$#{@event.price_dayof} Door"
  -elsif @event.soldout
    .cost SOLD OUT
  -elsif @event.free
    .cost FREE
  -unless @event.description == '' || @event.description == nil
    .description=@event.description
  -if !(@event.soldout || @event.free)
    .event-tickets
      %a{:href=>@event.ticket_url}TICKETS
  .more
    %h3 Read more about:
    %ul
      -@event.artists.each do |artist|
        %li
          %a{:href=>artist_path(artist)}=artist.name


