<!DOCTYPE html>
<html>
<head>
  <title><%= @meta_title %>Mission Creek Festival 2014</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% if(request.domain == 'missionfreak.com') %>
		<%= render :partial => 'base/analytics' %>
	<% end %>
	<meta property="og:image" content="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-prn1/17765_504597752914278_1596419420_n.jpg"/>
  <meta name="description" property="og:description" content="The Mission Creek Festival returns to Iowa City April 2 - April 7 2013."/>
  <meta name="title" property="og:title" content="<%= @meta_title %>Mission Creek Festival"/>
</head>
<body>


<div class="container main">
  <div class="row logos">
    <a href="<%= root_path %>"><img src="/assets/logo.png" class='mcf-logo'/></a>
    <a href="https://www.uiccu.org/"><img src="/assets/uiccu.png" class='uiccu'/></a>
  </div>
  <div class="row navigation">
    <div class="col-xs-9 internal">
      <a href="<%= about_path %>" class="<%= @about%>">About</a><span>/</span>
      <a href="<%= tickets_path %>" class="<%= @tickets%>">Tickets</a><span>/</span>
      <a href="<%= lineup_path %>" class="<%= @lineup%>">Lineup</a><span>/</span>
      <a href="#" class="<%=@calendar%>">Calendar</a><span>/</span>
      <a href="<%= sponsors_path %>" class="<%=@sponsors%>">Sponsors</a><span>/</span>
      <a href="<%= tech_path %>" class="<%= @tech%>">Tech Conference</a>
    </div>
    <div class="col-xs-3 external">
      <span>STAY CONNECTED</span>
      <a class="facebook" href="#"></a> 
      <a class="twitter" href="#"></a> 
      <a class="instagram" href="#"></a> 
    </div>
  </div>
  <div class="row content">
    <%= yield %>
  </div>
  <div class="row sponsors">
    <span>Thank You to our foundation sponsors</span>
    <a href="http://www.jimbeam.com/" target="_other" class="jim-beam"><img src="/assets/sponsors/jim_beam1.png"/><img style="margin-left:2px" src="/assets/sponsors/jim_beam2.png"/></a>
    <a href="http://www.idtdna.com/site" target="_other" class="idt"><img src="/assets/sponsors/idt.png"/></a>
    <a href="http://www.icgov.org/" target="_other" class="city-of-ic"><img src="/assets/sponsors/city_of_iowa_city.png"/></a>
    <a href="http://www.iowacitycoralville.org/" target="_other" class="ic-visitors"><img src="/assets/sponsors/ic_visitors.png"/></a>
    <a href="http://www.moengroup.com/" target="_other" class="moen"><img src="/assets/sponsors/moen.png"/></a>
    <a href="http://downtowniowacity.com/" target="_other" class="ic-downtown"><img src="/assets/sponsors/ic_downtown.png"/></a>
    <a href="http://mcginsberg.com/" target="_other" class="mcgins"><img src="/assets/sponsors/mc_gins.png"/></a>
    <a href="http://www.sheratoniowacity.com/" target="_other" class="sheraton"><img src="/assets/sponsors/sheraton.png"/></a>
    <a href="http://www.newbelgium.com/" target="_other" class="new-belgium"><img src="/assets/sponsors/new_belgium.png"/></a>
  </div>
</div>
</body>
</html>
