<!DOCTYPE html>
<html>
<head>
  <title>Mission Creek Festival 2013</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
	<%= render :partial => 'base/nav' %>
	<div class="row top">
		<%= render :partial => 'base/posts', :posts => @posts %>
		<%= render :partial => 'base/artists' %>
		<%= render :partial => 'base/tickets' %>
	</div>
	<div class='row'>
		<%= render :partial => 'base/features' %>
		<%= render :partial => 'base/sponsors' %>
	</div>
	<%= yield %>
</div>
</body>
</html>
