<!DOCTYPE html>
<html>
<head>
  <title>Mission Creek Festival 2013</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<%= render :partial => 'base/nav' %>
<header class='banner container'>
	<h1>Mission Creek Festival 2013</h1>
	<h3>Look at Banner, Michael.</h3>
</header>
<div class="container">
	

	<%= yield %>
</div>
</body>
</html>
