<!DOCTYPE html>
<html>
<head>
  <title><%= @meta_title %>Mission Creek Festival 2013</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% if(request.domain == 'missionfreak.com') %>
		<%= render :partial => 'base/analytics' %>
	<% end %>
	<meta property="og:image" content="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-prn1/17765_504597752914278_1596419420_n.jpg"/>
  <meta name="description" property="og:description" content="The Mission Creek Festival returns to Iowa City April 2 - April 7 2013."/>
  <meta name="title" property="og:title" content="<%= @meta_title %>Mission Creek Festival"/>
</head>
<body>


<div class="container main">
  <div class="row logos">
    <img src="/assets/logo.png" class='mcf-logo'/>
    <img src="/assets/uiccu.png" class='uiccu'/>
  </div>
  <div class="row navigation">
    <div class="col-xs-9 internal">
      <a href="#">About</a><span>/</span>
      <a href="#">Tickets</a><span>/</span>
      <a href="#">Lineup</a><span>/</span>
      <a href="#">Calendar</a><span>/</span>
      <a href="#">Sponsors</a><span>/</span>
      <a href="#">Tech Conference</a>
    </div>
    <div class="col-xs-3 external">
      <span>STAY CONNECTED</span>
      <a href="#"><img src="/assets/fb.png"/></a> 
      <a href="#"><img src="/assets/twitter.png"/></a> 
      <a href="#"><img src="/assets/instagram.png"/></a> 
    </div>
  </div>
  <div class="row content">
    <%= yield %>
  </div>
  <div class="row sponsors">
    <div class="col-xs-12">
    </div>
  </div>
</div>
</body>
</html>
