<!DOCTYPE html>
<html>
<head>
  <title>Mission Creek Festival 2013</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<%= 
#render :partial => 'base/nav' 
%>
<header class='banner container'>
	<%= link_to image_tag("mcf-black.png"), root_path, :class=>"logo" %>
	<%= link_to image_tag("uiccu-b.png"), "http://uiccu.org", :class=>"uiccu" %>
</header>
<div class="container main">
	
	<%= image_tag("dates.png", :class=>"dates") unless @no_dates %>

	<%= yield %>
	<%= render :partial => 'base/sponsors' %>
</div>
</body>
</html>
